{% macro pictureField(formField) %}
    <div class="picture file-elt mt-1 mb-1 d-flex w-100">
        <div class="w-100">
            <span>Photo(s) n° <span class="file-index d-none">__name__</span></span>
            {{ form_widget(formField) }}
        </div>
        <button type="button" class="btn" data-action="click->product#onFileDelete">
            <i class="fa far fa-trash-alt text-danger"></i>
        </button>
    </div>
{% endmacro %}

{% macro pictureCheckinField(formField) %}
    <div class="manager file-elt mt-1 mb-1 d-flex w-100">
        <div class="w-100">
            <span>Photo(s) n° <span class="file-index d-none">__name__</span></span>
            {{ form_widget(formField) }}
            {{ form_errors(formField) }}
        </div>
        <button type="button" class="btn" data-action="click->checkin#onFileDelete">
            <i class="fa far fa-trash-alt text-danger"></i>
        </button>
    </div>
{% endmacro %}
