<div class="col-1 btn-group-vertical">
    <button type="button" class="btn mb-1  arrow-up">
        <i class="fa fa-arrow-up"></i>
    </button>
    <button type="button" class="btn  arrow-down">
        <i class="fa fa-arrow-down"></i>
    </button>
</div>
