<div class="text-center col-12 pb-2">
    <a title="Suppression" href="{{ path('back_transaction_delete', {'id': transaction.id}) }}"
       class="btn btn-lg btn-default post-confirm"
       data-button-text="Suppression"
       data-title="Suppression"
       data-confirm-message="Êtes-vous sûr(e) de vouloir supprimer la transaction {{ transaction.reference|upper }} ?">
        <i class="fas fa-exclamation-triangle"></i>
        Supprimer cette transaction
    </a>
</div>
