<div class="text-center col-12 pb-2">
    <a title="Suppression" href="{{ path('front_product_delete', {'token': product.token}) }}"
       class="btn btn-lg btn-default post-confirm"
       data-button-text="Suppression"
       data-title="Suppression"
       data-confirm-message="Êtes-vous sûr(e) de vouloir supprimer le produit {{ product.title|upper }} ?">
        <i class="fas fa-exclamation-triangle"></i>
        Supprimer ce produit
    </a>
</div>
