{% extends 'front/layout.html.twig' %}

{% block title %}À propos de nous, vision de notre société{% endblock %}

{% block content %}
    <!-- blog area start -->
    <section class="blog__area pt-55">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="postbox__title mb-55">
                        <h1>À Propos</h1>
                        <div class="blog__meta">
                            <span>Par <a href="#" title="Auteur">Sanon Frandzdy</a></span>
                            <span>/ 15 décembre, 2023</span>
                        </div>
                    </div>
                    <div class="postbox__wrapper mb-70">
                        <div class="postbox__text mt-65">
                            <p>Bienvenue chez Reented, votre destination pour une expérience de location locale
                                exceptionnelle. Nous redéfinissons la location en offrant une gamme variée de
                                produits facilement accessibles à proximité. Notre mission est simple : rendre la
                                location sans tracas et favoriser une communauté de partage dynamique.</p>
                        </div>
                        <div class="postbox__text">
                            <p>À Reented, nous croyons en une approche locale de la location. Que vous ayez besoin
                                d'outils, d'équipements de plein air, ou de tout autre produit, nous sommes là pour
                                vous offrir des solutions pratiques, à portée de main. Notre plateforme facilite non
                                seulement la location, mais elle encourage également le partage au sein de votre
                                communauté.</p>
                        </div>
                        <div class="postbox__text">
                            <p>Rejoignez-nous dès aujourd'hui pour profiter d'une expérience de location unique.
                                Notre éventail de produits répond à vos besoins quotidiens, tout en créant des liens
                                au sein de votre quartier. Chez Reented, chaque location contribue à renforcer le
                                tissu de notre communauté de partage dynamique.</p>
                        </div>
                        <article class="postbox format-quote mt-45 mb-50">
                            <div class="postbox__quote">
                                <blockquote>
                                    <p><i class="fas fa-quote-right"></i> "La force de la communauté réside dans le
                                        partage, et chez Reented, nous croyons en la symbiose entre le local et le
                                        global, créant ainsi une expérience de location authentique et enrichissante
                                        pour tous."</p>
                                </blockquote>
                            </div>
                        </article>
                        <div class="postbox__text">
                            <p>Rencontrez l'équipe passionnée derrière Reented sur notre <b><a
                                            href="https://discord.gg/fYAdwEssZ5" target="_blank" title="Discord">discord</a></b>. Nous
                                sommes des fervents défenseurs du partage local et sommes déterminés à simplifier le
                                processus de location. Notre équipe dévouée travaille chaque jour pour offrir une
                                expérience client exceptionnelle et faire de Reented le choix évident pour vos
                                besoins de location.</p>
                        </div>
                        <div class="postbox__text">
                            <p>Que vous soyez un habitué de la location ou que vous cherchiez quelque chose de
                                spécifique, Reented est là pour vous. Profitez d'une location sans tracas et
                                participez à la construction d'une communauté de partage vibrante. Rejoignez-nous
                                dès aujourd'hui et découvrez une nouvelle façon de vivre la location.</p>
                        </div>
                    </div>
                    <div class="postbox__share mb-95">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="postbox__social">
                                    <span>Suivez-nous :</span>
                                    <ul>
                                        {#                                            <li><a href="#" rel="nofollow" title="Facebook"><i class="fab fa-facebook-f"></i></a></li> #}
                                        <li>
                                            <a href="https://www.instagram.com/reented_off" target="_blank"
                                               title="Instagram"><i class="fab fa-instagram fa-lg"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://discord.gg/fYAdwEssZ5" target="_blank" title="Discord">
                                                <i class="fab fa-discord fa-lg"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}