{% extends 'back/base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade show">
        <span class="spinner"></span>
    </div>
    <!-- end #page-loader -->

    <div id="page-container" class="fade show">
        <div class="login login-v1">
            <div class="login-container">
                <div class="login-header">
                    <div class="brand">
                        <img src="{{ asset('build/images/back/logo.png')|imagine_filter('logo') }}" alt="Reented"
                             width="241" height="49"/><br/>
                        <b>Administration</b>&nbsp;Reented
                    </div>
                    <div class="icon">
                        <i class="fa fa-lock"></i>
                    </div>
                </div>
                <div class="login-body">
                    <div class="login-content">
                        {{ include('back/auth/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if error %}
        <script defer>
            $(document).ready(function () {
                toastr.error("Compte inconnu ou mot de passe incorrect");
            });
        </script>
    {% endif %}
{% endblock %}
