{% extends 'front/layout.html.twig' %}

{% block title %}E-mail de réinitialisation envoyé{% endblock %}

{% block content %}
    <!-- login Area Strat-->
    <section class="login-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="basic-login">
                        <h3 class="text-center">E-mail de réinitialisation envoyé</h3>
                        <p>
                            Si un compte correspondant à votre adresse e-mail existe, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
                            Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                        </p>
                        <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou réessayer. <a href="{{ path('front_forgot_password_request') }}">try again</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- login Area End-->
{% endblock %}
