{% extends 'front/layout.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block content %}
    <!-- login Area Strat-->
    <section class="login-area pt-50 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="basic-login" id="formReinitPassWord">
                        <div class="profile__edit-wrapper">
                            <h3 class="text-center mb-60">Mot de passe oublié</h3>
                            {{ form_start(requestForm, {attr: {'autocomplete':'off'}}) }}
                            {{ form_row(requestForm.email, {attr: {"class":""}}) }}
                            <div class="profile__edit-input">
                                <small>
                                    Entrez votre email pour recevoir un lien de réinitialisation.
                                </small>
                            </div>
                            <button class="os-btn w-100" formnovalidate>Réinitialiser</button>
                            {{ form_end(requestForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- login Area End-->
{% endblock %}
