{% extends 'front/layout.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block content %}
    <!-- login Area Strat-->
    <section class="login-area pt-50 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="basic-login" id="formReinitPassWord">
                        <div class="profile__edit-wrapper">
                            <h1>Réinitialiser votre mot de passe</h1>
                            {{ form_start(resetForm) }}
                            {{ form_row(resetForm.plainPassword) }}
                            <button class="os-btn w-100" formnovalidate>Réinitialiser</button>                            {{ form_end(resetForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
