{% extends 'front/base.html.twig' %}

{% block body %}
    <div data-commun-target="container">
        {% include 'front/partials/_nav.html.twig' %}
        {% include 'front/partials/_search.html.twig' %}
        <main>
            <!-- scroll up area start -->
            <div class="scroll-up" id="scroll" style="display: none;">
                <a href="#" rel="nofollow"><i class="fas fa-level-up-alt"></i></a>
            </div>
            <!-- scroll up area end -->
        {% block content %}{% endblock %}
        </main>
        {% include 'front/partials/_modal.html.twig' %}
        {% include 'front/partials/_footer.html.twig' %}
    </div>
{% endblock %}
