{% extends 'front/layout.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block content %}
    <section class="shop__area pb-65" {{ stimulus_controller('bigpicture')|stimulus_controller('rating') }}>
        <div class="shop__top grey-bg-6 pt-50 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 mb-lg-0 text-right">
                        {{ include('front/rights/_nav_right.html.twig') }}
                    </div>
                    <div class="col-lg-9 mb-sm-12 mb-lg-0">
                        <div class="mb-5">
                            <div class="text-center">
                                <h1>Politique de confidentialité</h1>
                            </div>
                        </div>
                        <div class="cms__content"><p>Mise à jour&nbsp;: le 01/01/2024</p>
                            <p>&nbsp;</p>
                            <p>Cette politique de confidentialité a vocation à vous informer de l’utilisation de vos
                                données
                                à caractère personnel par Reented. Nous vous invitons à la lire attentivement.
                                &nbsp;</p>
                            <p>&nbsp;</p>
                            <h2>1. Définitions</h2>
                            <p>&nbsp;</p>
                            {#                        <p dir="ltr"><strong>Application&nbsp;:</strong> l’application Reented, disponible sur l’App Store #}
                            {#                            d’Apple et le Play Store de Google ainsi que sur la Webapp Reented : <a #}
                            {#                                    href="https://app.reented">https://app.reented</a></p> #}
                            {#                        <p dir="ltr"><strong>Appel&nbsp; Vidéo : </strong>fonctionnalité proposée aux seuls (Locataire/Bailleur)s qui #}
                            {#                            ont eu un Crush, qui leur permet d’appeler et de communiquer avec chacun de leur Crush de #}
                            {#                            façon spontanée, pour une durée limitée dans le temps. Cette fonctionnalité est accessible #}
                            {#                            depuis la page “Messages”, en cliquant sur l’icône dédié pour lancer l’Appel Vidéo. Lors de #}
                            {#                            l’Appel Vidéo, les options dont disposent les (Locataire/Bailleur)s sont les suivantes :</p> #}
                            {#                        <ul dir="ltr"> #}
                            {#                            <li>Décrocher</li> #}
                            {#                            <li>Couper le son</li> #}
                            {#                            <li>Couper la vidéo</li> #}
                            {#                            <li>Retourner la caméra de leur smart téléphone en mode autoportrait&nbsp;&nbsp;</li> #}
                            {#                            <li>Raccrocher</li> #}
                            {#                        </ul> #}
                            {#                        <p dir="ltr"><strong>Boost </strong>: fonctionnalité permettant aux (Locataire/Bailleur)s d’augmenter la #}
                            {#                            visibilité de leur profil pendant la durée de l’activation de cette option.</p> #}
                            <p dir="ltr"><strong>Caractéristiques du (Locataire/Bailleur) : </strong>Informations
                                renseignées par le
                                (Locataire/Bailleur) et décrivant son profil en lien avec son lieu d'habitat. Le
                                (Locataire/Bailleur) peut sélectionner les informations qu’il souhaite faire figurer sur
                                son profil et
                                filtrer les autres (Locataire/Bailleur)s apparaissant sur l’Application en fonction de
                                ces informations.
                            </p>
                            <p><strong>Compte&nbsp;:</strong> espace personnel dédié au (Locataire/Bailleur) sur
                                l’Application, auquel il
                                accède en s’inscrivant et en se connectant sur l’Application. Il permet au
                                (Locataire/Bailleur) d’accéder
                                aux Services. Un (Locataire/Bailleur) ne peut posséder qu’un seul Compte.</p>
                            <p dir="ltr"><strong>Reented&nbsp;:</strong> Reented, Société par action simplifiée,
                                enregistrée au
                                RCS Paris sous le matricule 535 217 723, et propriétaire et seule exploitante de
                                l’Application et de la marque Reented.</p>
                            <p dir="ltr"><strong>Locataire&nbsp;</strong>: personne inscrite sur le site web afin de
                                louer un bien.&nbsp;</p>
                            <p dir="ltr"><strong>Bailleur&nbsp;</strong>: personne inscrite sur le site web afin de
                                mettre en location un bien.&nbsp;</p>
                            <p><strong>Messages : </strong>seuls les (Locataire/Bailleur)s qui ont eu une réservation en
                                commun peuvent
                                engager l’action « Chat » dans
                                l’Application, et s’envoyer des Messages. Les Messages sont visibles uniquement dans
                                chaque réservation.</p>
                            <p><strong>Photos de profil </strong>: photos de profil permettant aisément la
                                reconnaissance du
                                (Locataire/Bailleur) : à cet égard, le (Locataire/Bailleur) accepte a minima d’éditer
                                une photo de
                                son visage où il est clairement reconnaissable, ces deux critères cumulatifs constituant
                                une
                                condition essentielle de l’utilisation des Services.</p>
                            <p>Si la photo du visage du (Locataire/Bailleur) n’est pas éditée en première position,
                                celle-ci sera
                                supprimé et le compte ne sera pas actif. Un message avertira le (Locataire/Bailleur)
                                concerné.</p>
                            {#                        <p><strong>Point de croisement&nbsp;:</strong> votre Position géographique enregistrée au moment #}
                            {#                            où vous avez croisé un autre (Locataire/Bailleur), lorsque l’option de géolocalisation est activée.&nbsp; #}
                            {#                        </p> #}
                            <p dir="ltr"><strong>Position géographique&nbsp;: </strong>votre localisation enregistrée
                                par
                                Reented basé uniquement sur votre adresse.&nbsp;&nbsp;</p>
                            <p>&nbsp;</p>
                            <h2>2. Responsable de traitement</h2>
                            <p>&nbsp;</p>
                            <p>Les données collectées<b> sont traitées par la société Reented </b>Micro entrepreneur
                                enregistré sous le numéro 893 371 344 000 19, dont le siège social est situé au 8 rue du
                                Sentier 75002 Paris, France et représentée par son Président, Monsieur Frandzdy Sanon.&nbsp;
                            </p>
                            <p>&nbsp;</p>
                            <p>Reented accorde une grande importance à la protection de vos données personnelles et au
                                respect
                                de votre vie privée. La présente politique de confidentialité (ainsi que notre <a
                                        href="{{ path('front_cookies') }}">Charte sur les Cookies</a> et nos <a
                                        href="{{ path('front_cgu') }}">Conditions générales d’utilisation</a> et tout
                                document auquel il y est fait référence) vise à vous informer de la manière dont nous
                                traitons les données personnelles que vous nous fournissez et que nous recueillons dans
                                le
                                cadre de votre utilisation de l’Application et des Services. Nous vous invitons à lire
                                attentivement le présent document pour comprendre nos pratiques quant au traitement de
                                vos
                                données personnelles et connaître vos droits en la matière.&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>La présente <b>Politique de confidentialité s’applique à tous les Services édités par
                                    Reented</b> que vous utilisez (à l’exclusion des services fournis et exploités par
                                des
                                tiers, auquel cas, c’est la politique de confidentialité de ces tiers qui s’applique et
                                non
                                les présentes dispositions).&nbsp;</p>
                            <p>&nbsp;</p>
                            <h2>3. Informations que nous recueillons</h2>
                            <p>&nbsp;</p>
                            <p>Reented collecte et traite des données personnelles à votre sujet lorsque vous utilisez
                                le site web Reented ou lorsque vous communiquez avec Reented. Il s’agit d’informations
                                que
                                vous <b>nous transmettez directement</b> ou de <b>données que nous recueillons
                                    automatiquement.&nbsp;</b></p>
                            <p>&nbsp;</p>
                            <p>Afin d’assurer la lisibilité de notre politique de confidentialité, voici d’abord une vue
                                d’ensemble des données personnelles vous concernant, collectées et traitées par Reented.
                                Vous
                                trouverez en dessous de cette vue d’ensemble des détails à propos de chaque donnée
                                collectée.&nbsp;</p>
                            <p>&nbsp;</p>
                            <ul>
                                <li><b>Données obligatoires :</b>
                                    <ul>
                                        <li>Données d’identification</li>
                                        <li>Adresse email</li>
                                        <li>Données relatives à votre activité sur le site web</li>
                                        {#                                    <li>Données techniques du mobile&nbsp;ou de l’appareil</li> #}
                                        {#                                    <li>Si vous refusez la géolocalisation : votre ville</li> #}
                                    </ul>
                                </li>
                            </ul>
                            <p>&nbsp;</p>
                            <ul>
                                <li><b>Données nécessaires à certaines finalités</b>
                                    <ul>
                                        <li>Données relatives aux témoignages et
                                            à votre satisfaction
                                        </li>
                                        <li>Position géographique ou à défaut votre ville</li>
                                        <li>Messages textes envoyés et reçus</li>
                                        <li>Données relatives aux signalements et aux demandes adressées au service
                                            client
                                            de Reented
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <p>&nbsp;</p>
                            <p><b>3.1 Données que vous nous transmettez directement&nbsp;</b></p>
                            <p>&nbsp;</p>
                            <p>En utilisant nos Services, <b>vous nous transmettez des informations</b>, dont certaines
                                sont
                                de nature à vous identifier. Lorsque vous communiquez ces informations, <b>certaines de
                                    ces
                                    données sont visibles pas les autres (Locataire/Bailleur)s</b> de l’Application et
                                sont donc rendues
                                publiques sur l’Application. Pour vous permettre de les identifier aisément, ces
                                informations vous sont signalées ci-dessous comme «&nbsp;Public&nbsp;». La
                                responsabilité de
                                Reented ne saurait être recherchée pour les données divulguées et rendues publiques par
                                un
                                (Locataire/Bailleur) sur Reented. En revanche, <b>les autres informations ne sont pas
                                    visibles par les
                                    autres (Locataire/Bailleur)s</b> et ne sont donc pas accessibles par ces derniers,
                                ces informations
                                vous sont signalées ci-dessous comme «&nbsp;Privé&nbsp;». &nbsp;</p>
                            <p>&nbsp;</p>
                            <p>Reented collecte et traite des données relatives à votre inscription et des données
                                relatives à
                                vos interactions avec Reented.&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><b>3.1.1. Données relatives à l’inscription</b>&nbsp;<strong>et au profil du
                                    (Locataire/Bailleur)</strong>
                            </p>
                            <p>&nbsp;</p>
                            <p><em>Les informations nécessaires à l’inscription</em></p>
                            <p>&nbsp;</p>
                            <p>Ce sont les données de base <b>nécessaires à l’inscription</b> pour accéder aux Services.&nbsp;
                            </p>
                            <p>Ces données seront <b>transmises à Reented directement par vous</b>.&nbsp;</p>
                            <p>Ces données sont relatives à votre identité.&nbsp;</p>
                            <p>&nbsp;</p>
                            <p dir="ltr">Lors de votre inscription, certaines informations sont <strong>obligatoires en
                                    vue de la fourniture des Services.</strong> À défaut de les communiquer, Reented ne
                                sera
                                pas en mesure de vous fournir les Services proposés par le site web et vous ne pourrez
                                pas
                                créer de Compte. Dans tous les cas, votre prénom (Public), votre nom (Public), votre
                                adresse (Privé), votre genre et au
                                moins une Photo de profil (Public) sont obligatoires
                                pour vous inscrire sur l’Application. Vous avez ensuite la possibilité d’ajouter ou
                                retirer
                                des Photos à tout moment,&nbsp;tant que vous avez ajouté au moins une Photo de profil ou
                                produit</p>
                            <p dir="ltr">&nbsp;</p>
                            <p>Par ailleurs, vous devez renseigner votre ville. Cette information permettra alors
                                à Reented de vous proposer des produits de (Locataire/Bailleur)s autour de vous.</p>
                            <p>&nbsp;</p>
                            <p><em>Les informations facultatives pour compléter votre profil</em></p>
                            <p>&nbsp;</p>
                            <p>Vous pouvez renseigner d’autres informations complémentaires pour compléter votre profil.
                                Ces
                                informations sont facultatives et communiquées à votre seule discrétion et sous votre
                                seule
                                responsabilité. Vous pouvez compléter votre profil soit directement sur l’Application.
                                Ces données sont les suivantes :&nbsp;</p>
                            <p>&nbsp;</p>
                            <ul>
                                <li><b>Description de profil (privé)&nbsp;</b>: si vous le souhaitez, vous pouvez
                                    partager
                                    des renseignements complémentaires vous concernant dans le champ de saisie libre
                                    prévu à
                                    cet effet et qui sont visibles par les (Locataire/Bailleur)s de Reented.
                                </li>
                            </ul>
                            <p>&nbsp;</p>
                            <p>Votre description est une zone de texte libre, <b>Reented n’encourage pas le
                                    (Locataire/Bailleur) à
                                    communiquer des données qui peuvent être qualifiées de sensibles aux autres
                                    (Locataire/Bailleur)s ou à
                                    Reented via l’Application.</b> On entend par données sensibles les données
                                qualifiées
                                juridiquement de « sensibles » en vertu du Règlement général pour la protection des
                                données
                                («&nbsp;RGPD&nbsp;»). Il s’agit notamment, des données relatives à l’origine raciale ou
                                ethnique, aux opinions politiques, aux convictions religieuses ou philosophiques ou à
                                l’appartenance syndicale, ainsi qu’à la santé, à la vie sexuelle ou l’orientation
                                sexuelle
                                («&nbsp;Données sensibles&nbsp;»). Si malgré tout, <b>le (Locataire/Bailleur) tient à
                                    communiquer de
                                    telles données sur son profil, cette communication est réputée avoir été «&nbsp;manifestement
                                    rendue publique&nbsp;»</b> par le (Locataire/Bailleur) concerné, au sens du RGPD.&nbsp;
                            </p>
                            <p>&nbsp;</p>
                            <p><b>3.1.2. Données relatives aux interactions avec Reented&nbsp;</b>:&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>Lorsque vous contactez le service et support client, signalez un problème relatif à nos
                                Services, signalez un autre utilisateur, demandez de l’assistance, exercez vos droits
                                sur
                                vos données personnelles ou encore lorsque vous participez à des promotions, jeux et
                                concours, à des sondages, livrez votre expérience de nos Services, des témoignages et
                                répondez à nos questionnaires, Reented collectera, selon le cas, les données
                                personnelles
                                suivantes à votre sujet&nbsp;:&nbsp;</p>
                            <p>&nbsp;</p>
                            <ul>
                                <li><b id="docs-internal-guid-933adab9-7fff-69e4-5a45-d58054e47b49">Données relatives
                                        aux
                                        signalements et aux demandes adressées au service client de Reented (privé)&nbsp;:</b>
                                    date et heure du signalement ou de la demande, nature et motif du signalement ou de
                                    la
                                    demande, données relatives à l’utilisateur signalé. Par ailleurs, une preuve de
                                    votre
                                    identité peut être demandée dans le cadre de l’exercice de vos droits sur vos
                                    données
                                    personnelles pour des raisons de sécurité et de confidentialité.
                                </li>
                            </ul>
                            <p>&nbsp;</p>
                            <p>Ces données sont collectées par Reented lorsque vous adressez une demande d’assistance
                                auprès
                                de notre service client, exercez vos droits sur vos données personnelles, signalez un
                                problème ou un autre utilisateur. Ces informations sont nécessaires au traitement d’un
                                signalement ou pour répondre à vos demandes. Ces informations sont également traitées
                                lorsqu’un signalement est fait à votre sujet.&nbsp;En effet, Reented a l’obligation
                                légale de
                                recueillir les signalements de ses (Locataire/Bailleur)s portant à sa connaissance des
                                contenus ou
                                comportements susceptibles de violer nos Conditions générales d’utilisation.</p>
                            <p>&nbsp;</p>
                            <ul>
                                <li><b>Données relatives aux participations à des jeux et concours, aux témoignages et à
                                        votre satisfaction (privé)&nbsp;</b>: participation, réponses, niveau de
                                    satisfaction, suggestions, témoignages.
                                </li>
                            </ul>
                            <p>&nbsp;</p>
                            <p>Ces données sont collectées par Reented lorsque vous participez à nos jeux et concours,
                                répondez à nos sondages et questionnaires de satisfaction, livrez vos témoignages. Les
                                données <b>sont obligatoires si vous souhaitez participer aux jeux et concours organisés
                                    par
                                    Reented</b>. Sans ces données, Reented ne pourra pas vous inscrire aux jeux ou
                                concours. En
                                revanche, les données relatives à vos témoignages et à votre satisfaction sont
                                facultatives.
                            </p>
                            <p>&nbsp;</p>
                            <p><b>3.2&nbsp;Données que nous recueillons automatiquement</b></p>
                            <p>&nbsp;</p>
                            <p>Lorsque vous utilisez nos services et nos fonctionnalités, nous recueillons des
                                informations
                                concernant votre activité sur l’Application :&nbsp;</p>
                            <p>&nbsp;</p>
                            <ul>
                                <li><b id="docs-internal-guid-da3cb4ef-7fff-b90c-e31e-f0203ce81ace">Données relatives à
                                        votre activité </b>(date d’inscription, dates des connexions, votre statut en
                                    ligne
                                    ou hors-ligne, interactions avec les (Locataire/Bailleur)s et comptes tiers, nombre
                                    de transactions,
                                    notifications reçues, préférences de notifications, etc.)
                                </li>
                            </ul>
                            <p>&nbsp;</p>
                            <p>Lorsque vous accédez aux Services et que vous utilisez l’Application et ses
                                fonctionnalités,
                                des informations sont collectées et traitées concernant la manière dont vous les
                                utilisez.
                                <b id="docs-internal-guid-f271c88d-7fff-3985-0dfa-b6f23f078aa5">La plupart de ces
                                    informations collectées par Reented est nécessaire à la fourniture des Services.&nbsp;</b>Sans
                                ces données Reented ne pourra pas fournir les Services liés à l’application Reented.&nbsp;
                            </p>
                            <p dir="ltr">Il s’agit notamment de la date d’inscription, des dates de vos connexions, de
                                votre
                                statut en ligne ou hors ligne, du type et du nombre d’interactions avec les autres
                                (Locataire/Bailleur)s
                                ou encore le nombre de transactions
                                effectuées et les notifications que vous avez reçues.&nbsp;</p>
                            <p>&nbsp;</p>
                            <p dir="ltr">L’Application a pour principal intérêt et vocation de vous permettre de
                                retrouver
                                d’autres (Locataire/Bailleur)s que vous avez près de chez vous. Votre Position
                                géographique est collectée avec <strong>votre consentement expresse</strong>. En effet,
                                une
                                fois un compte créer nous collectons et traitons les données relatives à votre
                                géolocalisation de manière à permettre à Reented d’identifier vos Points de croisements
                                avec
                                d’autres (Locataire/Bailleur)s ayant créé des produits.&nbsp;</p>
                            <p dir="ltr">Lorsque les Positions géographiques de deux (Locataire/Bailleur)s se situent
                                dans un même rayon,
                                un croisement est établi par Reented.&nbsp;</p>
                            <p dir="ltr">Vos Points de croisement sont affichés sur ma fiche d'un produit mais, <strong>en
                                    aucun
                                    cas, les (Locataire/Bailleur)s que vous croisez ne peuvent connaître votre position
                                    exacte.</strong>
                                En effet, chaque (Locataire/Bailleur) voit sur son Application sa propre position au
                                moment du croisement
                                dans un rayon défini par Reented et non la position de l’autre (Locataire/Bailleur).</p>
                            <p>&nbsp;</p>
                            <ul>
                                <li><b>Messages texte envoyés et reçus (privé)</b></li>
                            </ul>
                            <p>&nbsp;</p>
                            <p>Les Messages sont envoyés et stockés sur les serveurs de Reented pour assurer le Service
                                de
                                transmission des échanges entre les (Locataire/Bailleur)s qui ont eu une réservation.
                                <b>Les Messages texte sont strictement privés</b>
                                et n’engagent que les (Locataire/Bailleur)s intéressés. Les responsables habilités de
                                Reented
                                n’exercent aucun droit de regard sur ces conversations. Ces Messages ne sont pas
                                transmis ni
                                communiqués à des tiers, sauf sur requête judiciaire et/ou conformément aux dispositions
                                législatives ou règlementaires applicables. Par ailleurs, les Messages sont strictement
                                privés et ne seront accessibles ni aux autres (Locataire/Bailleur)s non concernés par
                                l’échange ni à des
                                tiers quelconques.&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>Nous recueillons des informations depuis et sur les appareils et équipements que vous
                                utilisez pour accéder à nos Services tels que des journaux serveurs qui peuvent inclure
                                notamment des informations telles que les adresses IP, version de l’application, version
                                et
                                modèle de l’appareil, identifiant du mobile ou de l’appareil, la langue utilisée, le
                                système
                                d’exploitation, les pannes d’application, les identifiants de publicité. Ces données
                                peuvent
                                être recueillies à l’aide de cookies ou autres traceurs : pour de plus amples
                                informations,
                                nous vous invitons à vous rendre sur la <a href="https://www.reented/cookies">Charte
                                    d’utilisation des cookies</a>.&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><b>Données relatives aux transactions :&nbsp;Reented ne collecte ni ne traite aucune
                                    donnée
                                    bancaire.</b> Ces données sont exclusivement collectées et traitées par Stripe.</p>
                            <p>&nbsp;</p>
                            <h2>4. Comment utilisons-nous vos données&nbsp;?</h2>
                            <p>&nbsp;</p>
                            <p><b>4.1 Fourniture des services et fonctionnalités conformément à nos conditions
                                    d’utilisation</b></p>
                            <p>&nbsp;</p>
                            <ul>
                                <li><b>Création et gestion de votre Compte</b> <b>en tant que (Locataire/Bailleur)&nbsp;:</b>
                                    <ul>
                                        <li>Création de votre profil.</li>
                                        <li>Inscription, désinscription, désactivation du profil du
                                            (Locataire/Bailleur).
                                        </li>
                                        <li>Gestion de vos réservations.</li>
                                        <li>Gestion de vos locations.</li>
                                        <li>Gestion de vos produits.</li>
                                    </ul>
                                </li>
                            </ul>
                            <p>&nbsp;</p>
                            <ul>
                                <li><b>Gestion et stockage des communications échangées</b> <b>entre
                                        (Locataire/Bailleur)s</b> (Messages).
                                </li>
                            </ul>
                            <p>&nbsp;</p>
                            <ul>
                                <li><b>Envoi de messages d’information</b> relatifs aux Services ou à vos interactions
                                    avec
                                    les autres (Locataire/Bailleur)s (notifications).
                                </li>
                            </ul>
                            <p>&nbsp;</p>
                            <p>
                                <span style="color: rgb(41, 128, 185);"><b>Base légale</b><b>&nbsp;: Exécution du contrat</b></span>
                            </p>
                            <p><span style="color: rgb(41, 128, 185);">Les données collectées par Reented sont nécessaires au bon fonctionnement de l’Application et à la fourniture des Services qui sont proposés aux (Locataire/Bailleur)s en vertu du contrat de service qui nous lie (Conditions générales d’utilisation).</span>
                            </p>
                            <p dir="ltr">&nbsp;</p>
                            <p><b>4.2&nbsp;</b><strong>Proposer les produits dont vous êtes proches</strong></p>
                            <p>&nbsp;</p>
                            <ul>
                                <li dir="ltr"><p dir="ltr"><strong>Géolocalisation</strong> aux fins de vous proposer
                                        les
                                        produits des (Locataire/Bailleur)s dont vous êtes proches.&nbsp;</p>
                                </li>
                            </ul>
                            <p>&nbsp;</p>
                            <p><b>Plus d’infos&nbsp;?&nbsp;</b></p>
                            <p>L’Application a pour vocation de vous permettre de retrouver d’autres
                                (Locataire/Bailleur)s dont vous êtes proche. En effet, elle permet d’identifier les points de
                                croisements avec d’autres (Locataire/Bailleur)s. Ces
                                points de
                                croisement permettent à Reented de vous présenter les produtis de (Locataire/Bailleur)s
                                dont vous êtes proche ou qui correspondent à vos critères de recherche.&nbsp;</p>
                            <p dir="ltr">&nbsp;</p>
                            <p>
                                <span style="color: rgb(41, 128, 185);"><b>Base légale</b><b>&nbsp;: Intérêt légitime&nbsp;</b></span>
                            </p>
                            <p><span style="color: rgb(41, 128, 185);">Ce traitement est basé sur l’intérêt légitime de Reented à garantir la sécurité de son application et des données qu’il traite. Vous pouvez vous opposer à tout moment à cette utilisation en nous contactant (voir section 11. Contact). Toutefois, Reented pourra continuer à mettre en œuvre le traitement s’il justifie de motifs légitimes et impérieux.</span>
                            </p>
                            <p>&nbsp;</p>
                            <p><b>4.6&nbsp;Prévenir et lutter contre les activités illégales ou non autorisées
                                    (violation
                                    des conditions d’utilisation), assurer la confiance des (Locataire/Bailleur)s et se
                                    conformer aux
                                    exigences légales</b></p>
                            <p>&nbsp;</p>
                            <ul>
                                <li><b>Analyse et traitement des signalements</b> de comportements frauduleux/
                                    indésirables.
                                </li>
                            </ul>
                            <p>&nbsp;</p>
                            <ul>
                                <li><b>Gestion des comportements indésirables</b> et avertissement, suspension, blocage
                                    ou
                                    suppression du Compte du (Locataire/Bailleur).
                                </li>
                            </ul>
                            <p>&nbsp;</p>
                            <ul>
                                <li><b>Gestion des demandes d’exercice de droits</b> des (Locataire/Bailleur)s sur leurs
                                    données.
                                </li>
                            </ul>
                            <p>&nbsp;</p>
                            <p>
                                <span style="color: rgb(41, 128, 185);"><b>Base légale</b><b>&nbsp;: Obligation légale</b></span>
                            </p>
                            <p><span style="color: rgb(41, 128, 185);">Ces traitements sont basés sur l’obligation légale de Reented, en tant qu’hébergeur de données, de retirer les contenus illicites dès qu’il en a connaissance (article 6 de la loi du 21 juin 2004 pour la confiance dans l’économie numérique) et sur son obligation de répondre aux demandes d’exercice de droits des (Locataire/Bailleur)s sur leurs données personnelles (article 12 à 22 du RGPD).&nbsp;</span>
                            </p>
                            <p>&nbsp;</p>
                            <ul>
                                <li><strong>Déceler ou prévenir des activités frauduleuses&nbsp;ou contraires à nos
                                        Conditions générales d’utilisation :</strong>
                                    <p>&nbsp;</p>
                                    <ul>
                                        <li dir="ltr"><p dir="ltr"><strong>Analyse automatisée des données du profil et
                                                    de
                                                    l’activité sur l’application</strong> afin de déceler les faux
                                                profils,
                                                les comportements frauduleux ou qui contreviennent aux Conditions
                                                générales
                                                d’utilisation.</p></li>
                                    </ul>
                                </li>
                            </ul>
                            <p>&nbsp;</p>
                            <ul>
                                <li dir="ltr"><p dir="ltr"><strong>Assurer la qualité des profils Bailleur&nbsp;;</strong></p>
                                    <p dir="ltr">&nbsp;</p>
                                    <ul>
                                        <li dir="ltr"><p dir="ltr"><strong>Analyse manuelle des photos des
                                                    Bailleurs afin
                                                    de détecter un visage dans le but, tant que possible, d’exclure les
                                                    faux
                                                    profils de l’Application, de lutter contre les comportements
                                                    frauduleux
                                                    et d’assurer l’identification des Bailleurs.</strong> Il
                                                vous sera
                                                impossible de louer un bien si un visage n’est pas détecté sur l’une
                                                de
                                                vos photos lors de votre inscription. Dans l’hypothèse où votre
                                                inscription
                                                ne serait pas acceptée alors qu’une de vos photos contient bien un
                                                visage,
                                                vous pouvez nous contacter à tout moment.</p></li>
                                    </ul>
                                </li>
                            </ul>
                            <p>&nbsp;</p>
                            <p dir="ltr"><span
                                        style="color: rgb(41, 128, 185);"><strong>Base légale&nbsp;: Intérêt légitime</strong></span>
                            </p>
                            <p dir="ltr"><span style="color: rgb(41, 128, 185);">Ce traitement est basé sur l’intérêt légitime de Reented de permettre à ses (Locataire/Bailleur)s d’utiliser dans de bonnes conditions techniques et opérationnelles, l’Application.&nbsp;</span>
                            </p>
                            <p>&nbsp;</p>
                            <h2>5. Cookies et traceurs</h2>
                            <p>&nbsp;</p>
                            <p>Des cookies peuvent être utilisés sur l’Application, des cookies
                                et
                                traceurs peuvent être utilisés à des fins techniques et de mesure d’audiences.</p>
                            <p>Pour en savoir plus, consultez notre <a href="https://reented/cookies">Charte sur les
                                    Cookies</a>.&nbsp;</p>
                            <p>&nbsp;</p>
                            <h2>6. Comment sont partagées vos données&nbsp;?</h2>
                            <p>&nbsp;</p>
                            <p>Seuls <b>certains salariés du Service client et responsables habilités de Reented
                                    traitent les
                                    données personnelles</b> des (Locataire/Bailleur)s pour les finalités décrites
                                ci-dessus. Ces salariés
                                et responsables habilités n’ont accès qu’aux seules données qui leur sont nécessaires
                                dans
                                le cadre de leurs fonctions.</p>
                            <p>&nbsp;</p>
                            <p>Des <b>prestataires de services et partenaires authentifiés et fiables</b> peuvent
                                également
                                accéder et/ou traiter les données personnelles des (Locataire/Bailleur)s pour le compte
                                de Reented dans le
                                respect de la Politique de confidentialité et qui garantissent la sécurité et la
                                confidentialité des données personnelles des (Locataire/Bailleur)s. Ces prestataires
                                nous aident à
                                exploiter et à améliorer nos Services, notamment concernant&nbsp;:</p>
                            <ul>
                                <li dir="ltr"><p dir="ltr">nos sous-traitants pour notre infrastructure et l’hébergement
                                        des
                                        données&nbsp;;</p></li>
                                <li dir="ltr"><p dir="ltr">nos fournisseurs de logiciels d’analyses ;</p></li>
                                <li dir="ltr"><p dir="ltr">nos prestataires techniques pour l’utilisation de
                                        l’Application
                                        et/ou le bon fonctionnement de l’Application&nbsp;;</p></li>
                                <li dir="ltr"><p dir="ltr">notre service client pour la fourniture de l’assistance
                                        nécessaire aux (Locataire/Bailleur)s&nbsp;et la gestion des signalements&nbsp;;&nbsp;</p>
                                </li>
                                <li dir="ltr"><p dir="ltr">nos partenaires Marketing afin d‘adresser des offres,
                                        messages et
                                        contenus pertinents aux (Locataire/Bailleur)s de Reented et
                                        non-(Locataire/Bailleur)s de Reented.&nbsp;&nbsp;</p>
                                </li>
                            </ul>
                            <p>&nbsp;</p>
                            <p dir="ltr">Dans le cadre des opérations marketing et publicitaires hors de l’application
                                destinées à des non-(Locataire/Bailleur)s, vos données seront susceptibles d’être
                                transmises à des réseaux
                                sociaux partenaires pour vous exclure de nos campagnes, sauf opposition de votre
                                part.</p>
                            <p dir="ltr">Pour plus de détail, veuillez consulter la <a
                                        href="https://reented/fr/liste-des-destinataires-de-vos-donnees/">liste de nos
                                    prestataires et partenaires.</a></p>
                            <p>&nbsp;</p>
                            <p>Par ailleurs, à la demande des <b>organismes étatiques, notamment les autorités
                                    judiciaires,</b>&nbsp;et pour se conformer à toute demande judiciaire ou légale
                                Reented
                                pourra transmettre les données personnelles de ses (Locataire/Bailleur)s.&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>Enfin, nous pouvons être amenés à transmettre vos données <b>dans le cadre d’opérations
                                    d’entreprise </b>telles que notamment sans que cette liste ne soit exhaustive,
                                restructuration, changement de contrôle, fusion, acquisition, cession, dissolution.</p>
                            <p>&nbsp;</p>
                            <h2>7. Transfert de données hors UE</h2>
                            <p>&nbsp;</p>
                            <p>Les données personnelles des (Locataire/Bailleur)s traitées dans le cadre de
                                l’utilisation de l’Application
                                sont hébergées dans l’Union européenne.</p>
                            <p>&nbsp;</p>
                            <p>Toutefois, les données personnelles des (Locataire/Bailleur)s <b>sont transmises à des
                                    prestataires
                                    sous-traitants de Reented situés hors Union européenne</b>, pour le support aux
                                (Locataire/Bailleur)s,
                                la gestion des signalements, la publicité et le marketing.&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>Les transferts de données hors Union européenne peuvent<b>&nbsp;être effectués vers des
                                    pays
                                    pour lesquels il n’existe pas de décision d’adéquation</b> rendue par la Commission
                                européenne en matière de protection des données personnelles. Reented garantit que ces
                                transferts sont effectués dans des conditions permettant d’assurer la confidentialité et
                                la
                                sécurité des données et un niveau de protection adéquat dans le respect de la
                                réglementation
                                en vigueur. En effet, <b>ces transferts sont encadrés par des clauses contractuelles
                                    types
                                    de la Commission européenne</b>.&nbsp;Pour obtenir copie de ces dernières vous
                                pouvez
                                vous adresser à notre Délégué à la protection des données à l’adresse suivante&nbsp;: <a
                                        href="mailto:dpo@reented.com">dpo@reented.com</a>.</p>
                            <p>&nbsp;</p>
                            <p dir="ltr">Pour connaître la localisation exacte de nos destinataires, veuillez consulter
                                la
                                <a href="https://reented/fr/liste-des-destinataires-de-vos-donnees/">liste de nos
                                    prestataires et partenaires.</a></p>
                            <p>&nbsp;</p>
                            <h2>8. Comment exercer vos droits sur vos données&nbsp;?</h2>
                            <p>&nbsp;</p>
                            <h3>Vos droits</h3>
                            <p>Conformément à la loi n° 78-17 du 6 janvier 1978, dite loi Informatique et
                                Libertés<b>&nbsp;</b>et au RGPD, chaque (Locataire/Bailleur) dispose d’un droit d’<b>accès,</b>
                                de <b>rectification</b>
                                et, le cas échéant d’un droit à la <b>portabilité</b> et à l’<b>effacement</b> sur ses
                                données personnelles, ainsi que d’<b>opposition</b> au traitement ou à sa
                                <b>limitation</b>
                                et du droit de <b>définir des directives relatives au sort de ses données personnelles
                                    après
                                    son décès</b>. Soucieux des préoccupations de ses (Locataire/Bailleur)s, Reented
                                s’engage à respecter la
                                protection des données personnelles et à traiter ces demandes dans les meilleurs délais.&nbsp;
                            </p>
                            <p>&nbsp;</p>
                            <h3>Comment les exercer&nbsp;?</h3>
                            <p>Le (Locataire/Bailleur) peut exercer ses droits, sous réserve de prouver son identité, en
                                envoyant un email
                                à&nbsp;<a href="mailto:support@reented.com">support@reented.com</a>, en exerçant ses
                                droits
                                directement depuis l’Application, ou en envoyant un courrier à l’adresse postale
                                suivante :
                                à l’attention du Délégué à la protection des données, Reented - 8 rue du Sentier 75002
                                Paris –
                                France.&nbsp;Pour des raisons de confidentialité, en cas de doute sur l’identité du
                                demandeur, une preuve d’identité peut être demandée.</p>
                            <p>&nbsp;</p>
                            <p>Pour toute autre réclamation, le (Locataire/Bailleur) peut formuler une demande auprès de
                                l’autorité de
                                contrôle nationale compétente en matière de protection des données.</p>
                            <p>&nbsp;</p>
                            <h3>Détails des droits</h3>
                            <ul>
                                <li><p>Le <b>droit d’accès</b> autorise le (Locataire/Bailleur) à interroger Reented en
                                        vue d’obtenir la
                                        communication des données le concernant sous une forme accessible dans les
                                        termes et
                                        conditions de l’article 15 du RGPD.&nbsp;Votre droit d’accès ne doit pas porter
                                        atteinte à la vie privée des tiers, c’est pourquoi vous n’aurez accès qu’à vos
                                        données personnelles et non pas à celles de tiers (par exemple, vous ne pourrez
                                        avoir communication que des messages que vous avez envoyés et non pas de ceux
                                        que
                                        vous avez reçus).</p></li>
                                <li>Le <b>droit de rectification</b> confère au (Locataire/Bailleur) le droit d’exiger
                                    de Reented que soient
                                    rectifiées, complétées, mises à jour ou effacées les données à caractère personnel
                                    le
                                    concernant, qui sont inexactes, incomplètes, équivoques, périmées ou dont
                                    l’utilisation,
                                    la communication ou la conservation est interdite dans les termes et conditions de
                                    l’article 16 du RGPD. <b>Vous pouvez modifier ou rectifier certaines données
                                        directement
                                        depuis l’Application.</b> Il vous suffit de vous rendre sur votre profil et
                                    modifier
                                    directement les sections « Mes Photos&nbsp;», « Emploi et Études (Poste, Employeur,
                                    École) » et « À propos de moi ». Lorsque vous vous êtes inscrit via Facebook
                                    Connect,
                                    pour modifier votre prénom, votre âge ou votre genre, rendez-vous sur votre page
                                    Facebook et mettez à jour la rubrique « À propos – Informations générales et
                                    coordonnées
                                    » de votre profil. Lorsque vous vous êtes inscrit via un numéro de téléphone mobile,
                                    vous devez envoyer un courrier ou contacter le support client aux adresses indiquées
                                    ci-dessus, pour modifier votre prénom, votre âge ou votre genre.&nbsp;En cas
                                    d’erreur,
                                    l’âge peut être rectifié une fois directement depuis l’Application.
                                </li>
                                <li>Le <b>droit à la portabilité</b> confère au (Locataire/Bailleur) le droit de
                                    recevoir les données à
                                    caractère personnel qu’il a fournies à Reented, dans un format structuré, couramment
                                    utilisé et lisible par machine et de les transmettre à un autre responsable de
                                    traitement, sur le fondement de l’article 20 du RGPD.&nbsp;
                                </li>
                                <li>Le <b>droit d’opposition</b> confère au (Locataire/Bailleur) le droit de s’opposer
                                    sans frais et de
                                    manière discrétionnaire, à ce que ses données soient utilisées par Reented à des
                                    fins de
                                    prospection, notamment commerciale et aux traitements fondés sur l’intérêt légitime
                                    de Reented, sur le fondement de l’article 38 de la loi Informatique et Libertés et
                                    de
                                    l’article 21 du RGPD.&nbsp;Pour les traitements fondés sur l’intérêt légitime,
                                    Reented
                                    conserve la possibilité de justifier de motifs légitimes et impérieux pour continuer
                                    le
                                    traitement.&nbsp;
                                </li>
                                <li>Le <b>droit à l’effacement</b> confère au (Locataire/Bailleur) le droit d’exiger
                                    l’effacement sans
                                    frais de manière discrétionnaire des données communiquées à Reented, dans la limite
                                    des
                                    droits fondés sur l’article 17 du RGPD. <strong>Par ailleurs, vous pouvez supprimer
                                        votre Compte en utilisant la fonctionnalité correspondante directement sur
                                        l’Application.</strong> Nous vous informons que l’ensemble de vos données seront
                                    supprimées de l’application Reented. Cependant, Reented, en tant qu’hébergeur, a
                                    l’obligation légale de conserver vos données personnelles pendant un an au titre de
                                    l’article 6-II) de la loi n°2004-575 du 21 juin 2004 pour la confiance dans
                                    l’économie
                                    numérique. Vos données seront conservées dans une base d’archives séparée de nos
                                    bases
                                    de production et seulement aux fins de répondre à une réquisition judiciaire. Elles
                                    seront définitivement supprimées à l’expiration du délai d’un an.
                                </li>
                                <li>Le <strong>droit à la limitation</strong> confère au (Locataire/Bailleur) le droit
                                    de geler
                                    temporairement l’utilisation de certaines données par Reented dans les conditions de
                                    l’article 18 du RGPD.
                                </li>
                                <li>Le droit pour le (Locataire/Bailleur) de <b>définir ses directives relatives à la
                                        conservation, à
                                        l’effacement et à la communication de ses données à caractère personnel après
                                        son
                                        décès </b>conformément à l’article 85 de la loi Informatique et Libertés.
                                </li>
                            </ul>
                            <p>&nbsp;</p>
                            <p>Ces droits ne pourront être exercés que dans la limite des moyens de Reented dans le
                                cadre de
                                l’utilisation de Facebook, Google ou Apple pour se connecter à l’Application. Une partie
                                des
                                données a été communiquée à Reented via Facebook, Google ou Apple et ne pourra dès lors
                                être
                                rectifiée sans la coopération&nbsp;de Facebook, Google ou Apple.</p>
                            <p>&nbsp;&nbsp;</p>
                            <h2>9. Pendant combien de temps conservons-nous vos données&nbsp;?</h2>
                            <p>&nbsp;</p>
                            <p>Reented a mis en place un processus de suppression automatique de votre compte et de vos
                                données personnelles dans le respect des durées de conservation définies ci-dessous.
                                Lorsque
                                certaines données doivent être gardées à des fins statistiques au-delà de ces durées,
                                ces
                                données sont anonymisées de manière irréversible de sorte qu’il ne soit plus possible de
                                vous identifier.</p>
                            <p>&nbsp;</p>
                            <p>Reented conserve les données du (Locataire/Bailleur) pendant toute la durée nécessaire à
                                l’utilisation du
                                Compte du (Locataire/Bailleur) c’est-à-dire&nbsp;:&nbsp;</p>
                            <p>&nbsp;</p>
                            <ul>
                                <li>Pour <b>la durée d’inscription du (Locataire/Bailleur) augmentée d’une année</b>.
                                    Après un an
                                    d’inactivité sur un Compte, celui-ci sera supprimé et les données du
                                    (Locataire/Bailleur) seront
                                    encore conservées pendant une année, avant d’être définitivement détruites ou
                                    anonymisées de manière irréversible. Un compte est considéré inactif lorsque
                                    l’Application du (Locataire/Bailleur) n’a pas établi de contact avec les serveurs de
                                    Reented (notamment
                                    du fait de la désactivation de l’option de géolocalisation) ; et le
                                    (Locataire/Bailleur) n’a pas
                                    utilisé l’Application. En tout état de cause, un (Locataire/Bailleur) Premium n’est
                                    pas considéré
                                    comme inactif. Il convient de rappeler que Reented, conformément à son statut
                                    d’hébergeur,
                                    est tenu d’une obligation légale de conserver certaines données à caractère
                                    personnel
                                    des (Locataire/Bailleur)s pendant une durée d’un an sur le fondement de l’article 6,
                                    II de la loi pour
                                    la confiance dans l’économie numérique du 21 juin 2004.
                                </li>
                                <li>Lorsqu’un <strong>(Locataire/Bailleur) est banni, son compte deviendra
                                        inactif.</strong> Les
                                    informations du compte banni sont conservées pendant une année en base de données
                                    active
                                    afin de les comparer avec les informations fournies lors de nouvelles inscriptions
                                    sur
                                    l’Application et, d’empêcher, tant que possible, toute réinscription d’un
                                    utilisateur
                                    exclu. Au terme de cette durée,&nbsp;les données personnelles sont&nbsp;archivées et
                                    conservées pendant un an supplémentaire avant d’être définitivement supprimées ou
                                    anonymisées de manière irréversible.
                                </li>
                                <li>Lorsque <b>le (Locataire/Bailleur) supprime son Compte ou en demande la
                                        suppression</b> au service
                                    client, celui-ci est supprimé de l’Application. Cependant, les données du
                                    (Locataire/Bailleur) seront
                                    conservées dans une base d’archives séparée pendant une année avant d’être
                                    définitivement détruites ou anonymisées de manière irréversible, afin de permettre à
                                    Reented de respecter son obligation de conservation en tant qu’hébergeur.
                                </li>
                                <li>Certaines données du (Locataire/Bailleur), comme l’adresse email et le numéro de
                                    téléphone, seront
                                    conservées <strong>à des fins de prospection </strong>ou de Marketing (voir article
                                    4.3.) ou à des fins d’analyse pour l’amélioration et l’optimisation du service (voir
                                    article 4.4) pendant 1 an après 1 an d’inactivité du Compte. En cas de suppression
                                    de
                                    son Compte par le (Locataire/Bailleur), les données ne seront pas utilisées à des
                                    fins de prospection
                                    ou de Marketing.
                                </li>
                            </ul>
                            <p>&nbsp;</p>
                            <p>Reented s’engage à fournir les meilleurs efforts et tous les moyens en sa possession pour
                                garantir la sécurité optimale des données conservées. Il appartient tout de même au
                                (Locataire/Bailleur)
                                de prendre les mesures appropriées pour protéger ses données.</p>
                            <p>&nbsp;</p>
                            <h2>10. Données personnelles d’enfants mineurs</h2>
                            <p>&nbsp;</p>
                            <p><b>Reented refuse de collecter les données d’enfants mineurs. </b>En cas de mensonge d’un
                                (Locataire/Bailleur) concernant sa date de naissance et plus particulièrement en cas
                                d’attestation
                                frauduleuse sur sa majorité, les parents de l’enfant mineur sont invités à avertir
                                Reented en
                                envoyant un courriel l’un des contacts indiqués à l’article 11 «&nbsp;Contact&nbsp;»,
                                afin
                                de demander l’effacement des données. Reented s’engage à supprimer l’ensemble des
                                données
                                personnelles concernant l’enfant mineur dans les plus brefs délais.</p>
                            <p>&nbsp;&nbsp;</p>
                            <h2>11. Contact&nbsp;</h2>
                            <p>&nbsp;</p>
                            <p>Pour toute question relative à la présente politique de confidentialité ou pour toute
                                demande
                                relative à vos données personnelles, vous pouvez nous contacter&nbsp;:</p>
                            <ul>
                                <li>En adressant un mail à notre contact à l’adresse mail de contact&nbsp;<a
                                            href="mailto:support@reented.com">support@reented.com</a>.
                                </li>
                                <li>En adressant un mail au Délégué à la protection des données <a
                                            href="mailto:dpo@reented.com">dpo@reented.com</a>.&nbsp;
                                </li>
                                <li>Par courrier à l’adresse postale suivante&nbsp;: à l’attention du Délégué à la
                                    protection des données, Reented - 24 allée du cerf 95800 COURDIMANCHE – France.&nbsp;
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
