{% extends 'front/layout.html.twig' %}

{% block title %}Charte de confiance{% endblock %}

{% block content %}
    <section class="shop__area pb-65" {{ stimulus_controller('bigpicture')|stimulus_controller('rating') }}>
        <div class="shop__top grey-bg-6 pt-50 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 mb-lg-0 text-right">
                        {{ include('front/rights/_nav_right.html.twig') }}
                    </div>
                    <div class="col-lg-9 mb-sm-12 mb-lg-0">
                        <div class="mb-5">
                            <div class="text-center">
                                <h1>Charte de Confiance</h1>
                            </div>
                        </div>
                        <div class="cms__content">
                            <p>Reented est une application géolocalisée et en temps réel, entièrement conçue pour offrir une expérience de qualité, agréable et sécurisée. Pour que cette expérience soit à la hauteur de vos attentes, Reented vous présente sa charte de confiance, en 5 engagements.</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>

                            <h2>Engagement 1 : Collaboration Communautaire</h2>
                            <p>&nbsp;</p>
                            <p>Axé sur la promotion d'une communauté locale collaborative, Reented encourage la responsabilité partagée, la confiance et un sentiment d'unité parmi les utilisateurs.</p>
                            <p>&nbsp;</p>

                            <h2>Engagement 2 : Accessibilité Sans Friction</h2>
                            <p>&nbsp;</p>
                            <p>En mettant l'accent sur la commodité des utilisateurs, Reented assure une expérience sans heurts pour trouver, louer et retourner des produits. Notre plateforme met l'accent sur l'accessibilité pour tous dans le quartier.</p>
                            <p>&nbsp;</p>

                            <h2>Engagement 3 : Gamme Diversifiée de Produits</h2>
                            <p>&nbsp;</p>
                            <p>En embrassant la diversité, Reented propose une large gamme de produits pour répondre à divers besoins. Des outils aux équipements d'extérieur, les utilisateurs peuvent facilement trouver une variété d'articles de haute qualité dans leur région.</p>
                            <p>&nbsp;</p>

                            <h2>Engagement 4 : Locations Sans Tracas</h2>
                            <p>&nbsp;</p>
                            <p>Chez Reented, la simplicité est la clé. Notre engagement est de fournir des expériences de location sans tracas, permettant aux utilisateurs de profiter des avantages des articles empruntés sans complications inutiles.</p>
                            <p>&nbsp;</p>

                            <h2>Engagement 5 : Autonomisation de l'Économie Locale</h2>
                            <p>&nbsp;</p>
                            <p>En connectant les individus dans des régions spécifiques, Reented contribue à l'économie locale. Rejoindre notre plateforme signifie participer activement à une communauté de partage dynamique et soutenir vos voisins de manière durable.</p>
                            <p>&nbsp;</p>
                            <div>
                                <div>
                                    <div id="_com_1">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
