<ul class="nav">
    <li class="nav-profile">
        <a href="#" title="Ouvre le menu" data-toggle="nav-profile" rel="nofollow">
            <div class="cover with-shadow"></div>
            <div class="image image-icon bg-black text-grey-darker">
                <i class="fa fa-user"></i>
            </div>
            <div class="info">
                <b class="caret pull-right"></b>
                <small>{{ app.user.fullname }}</small>
            </div>
        </a>
    </li>
    <li>
        <ul class="nav nav-profile">
            <li>
                <a title="Déconnexion" href="{{ path('back_logout') }}" data-turbo="false">
                    <i class="fa fa-sign-out-alt"></i>
                    Déconnexion
                </a>
            </li>
        </ul>
    </li>
</ul>
